@use '../../../styles/base';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 3rem;
    background-color: #312424;
    color: white;

    border-bottom: 1px solid #e5e5e5;
}

.body {
    padding: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    height: 100%;

    background-color: #dfdfdf;

}

.images {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap: 1rem;

    width: 100%;

    padding: 1rem;

    background-color: #746f6f;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
}

.image {
    position: relative;

    height: 100px;

    border-radius: 10px;
    overflow: hidden;

    box-shadow: 0 0 10px 0 black;
}

.form {
    width: 100%;
    padding: .5rem;
    border-radius: 10px;

    background-color: #b1b1b1;

    display: flex;

    justify-content: space-between;
    align-items: center;

    button {
        padding: .5rem 1rem;
        border-radius: 10px;
        border: none;
        background-color: #b1b1b1;
        color: white;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background-color: #a1a1a1;
        }

        &.save {
            @include base.button("primary");
        }

        &.cancel {
            @include base.button("secondary");
        }
    }


}



.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0 1rem;
    height: 3rem;
    background-color: #312424;
    color: white;

    border-top: 1px solid #e5e5e5;

}

.button {
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    background-color: #b1b1b1;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: .2s;


}

.button.save {
    @include base.button("primary");
}


.button.cancel {
    @include base.button("secondary");
}
