@use '../../styles/base';

.wrapper {
    position: relative;
    width: 100%;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    overflow: hidden;

    margin-bottom: 50px;

    h1, p {
        flex-basis: 100%;
        text-align: center;
    }

    h1 {
        color: adjust-color($color: base.$primaryColor, $lightness: 10%);
    
        margin-bottom: 1rem;
    }
    
    
    p {
        display: none;
        color: base.$backgroundColor;
        font-weight: 600;

        font-size: 1.2rem;
    }

}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row wrap;
    
    justify-content: center;
    align-content: flex-end;

    // linear gradient
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 30%), linear-gradient(to bottom, base.$backgroundColor 5%, rgba(0, 0, 0, 0) 40%);

    padding-bottom: 10px;


}

.body {
    background-color: rgba(0,0,0,.6);

    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    padding: 0 28px;
}

.wrapper.mobile {
    display: block;

    height: 200px;
}

.wrapper.tablet {
    display: none;

    height: 250px;
}

.wrapper.desktop {
    display: none;

    height: 350px;
}

@media screen and (min-width: 700px) {
    .wrapper {
        p {
            display: block;
        }
    }

    .wrapper.mobile {
        display: none;
    }

    .wrapper.tablet {
        display: block;
    }

    .wrapper.desktop {
        display: none;
    }
}


@media screen and (min-width: 1180px) {
    
    .wrapper.mobile {
        display: none;
    }

    .wrapper.tablet {
        display: none;
    }

    .wrapper.desktop {
        display: block;
    }
}