.wrapper {
    position: relative;
    width: 100%;
    
    border-radius: 10px;

    overflow: hidden;

    margin: 40px 0;

}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row wrap;
    
    justify-content: center;
    align-content: space-between;

    // linear gradient
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 6%, rgba(0, 0, 0, 0.2) 100%);



    padding: 30px;

}


.header {
    flex-basis: 100%;
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;



}


.wrapper.mobile {
    display: block;
}

.wrapper.tablet {
    display: none;
}

.wrapper.desktop {
    display: none;
}

@media screen and (min-width: 700px) {
    
    .wrapper.mobile {
        display: none;
    }

    .wrapper.tablet {
        display: block;
    }

    .wrapper.desktop {
        display: none;
    }
}


@media screen and (min-width: 1180px) {
    
    .wrapper.mobile {
        display: none;
    }

    .wrapper.tablet {
        display: none;
    }

    .wrapper.desktop {
        display: block;
    }
}