@use '../../../../../../styles/base';



.wrapper {
    background-color: adjust-color($color: base.$backgroundColor, $lightness: -10%);

    border-radius: 10px;

    width: 100%;
}

    
.title {
    display: inline-block;
    font-weight: 900;
    padding-left: .5rem;
    padding-top: .5rem;
    
    margin-bottom: .2rem;
}

.body {
    display: flex;
    flex-flow: row wrap;
    gap: 4px;
    padding: .5rem;
}

.product {
    background-color: adjust-color($color: base.$backgroundColor, $lightness: -30%);


    border-radius: 10px;
    padding: .2rem;

    display: flex;
    flex-flow: row nowrap;
    gap: 4px;

    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    &:hover {
        box-shadow: 0 0 5px 0 rgb(126, 3, 3);
    }

    .name {
        font-weight: 700;
    }

    button.delete {
        @include base.button("danger");

        border: none;
        border-radius: 50%;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: .3rem;

        

        &:hover {
            background-color: adjust-color($color: base.$backgroundColor, $lightness: -50%);

            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

        }

    }
}

.product.current {
    border-bottom: 5px solid rgb(35, 63, 120);
}

.product.mainProduct {
    &::before {
        content: "main";
        display: inline-block;
        font-weight: 700;
        
        margin-bottom: .2rem;


        color: white;
        background-color: rgb(6, 54, 137);

        border-radius: 3px;
        padding: 1px 3px;
    }
}