@use '../../../../styles/base';

.wrapper {
    display: flex;
    flex-flow: row wrap;

    gap: 10px;

    font-size: .8rem;

}

.field {
    flex-basis: 100%;

    display: grid;
    grid-template-columns: 25% 75%;

    word-wrap: break-word;


    label {
        font-weight: 700;
    }

    select {
 
        padding: 5px;

        border: 1px solid #000;

        border-radius: 5px;
    
        &:focus {
            outline: none;
        }
    }

    input {
        padding: 5px;

        border: 1px solid #000;

        border-radius: 5px;
    
        &:focus {
            outline: none;
        }
    }

    textarea {
        
        padding: 5px;

        border: 1px solid #000;

        border-radius: 5px;

        resize: none;
    
        &:focus {
            outline: none;
        }
    }

    
}


.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 2px;

    width: 100%;

    button {
        width: 100%;

        padding: 5px;

        border: 1px solid #000;

        border-radius: 5px;

        background-color: rgb(55, 55, 55);

        color: #fff;

        font-size: 1rem;

        font-weight: 700;
    }

    button.add {
        @include base.button("primary");

        &:disabled {
            cursor: not-allowed;
            opacity: .5;
            border: none;

            background-color: gray;

            &:hover {
                background-color: gray;
            }
        }
    }

    button.cancel {
        @include base.button("secondary");
    }
}
