.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba($color: #000000, $alpha: .5);
    
}


.modal {
    background-color: white;
    min-width: 300px;
    max-width: 400px;
    width: 91.5%;
    margin: auto;

    padding: 1.7rem;
    border-radius: 8px;
}