@use '../../styles/base';

.wrapper {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;

}

.main {
    width: 100%;
}



.subSection {
    flex-basis: 100%;

    padding: 10px;

    &:first-child {
        border-bottom: 5px double #000000;
    }
}

@media (min-width: base.$breakpointMobile) {
    .wrapper {
        flex-direction: row;
        align-items: flex-start;
    }



    .main {
        flex-basis: 70%;
    }


}

@media (min-width: base.$breakpointTablet) {
    .subSection {
        flex-basis: 50%;
    
        &:first-child {
            border-bottom: none;
            border-right: 5px double #000000;
        }
    }
}