@use '../../../styles/base';

.MobileBar {
    display: block;
    width: 100%;
}

.SideBar {
    display: none;

    flex-flow: row wrap;
    justify-content: flex-start;
    flex-basis: 30%;
    position: sticky;
    top: 80px;
}


.MainBar {
    display: flex;
    width: 100%;

    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;


    
    margin-bottom: 20px;
}



@media (min-width: base.$breakpointMobile) {
    .MobileBar {
        display: none;
    }

    .SideBar {
        display: flex;
    }
}