@use '../../styles/base';

.wrapper {
    display: flex;

    flex-flow: row wrap;

    justify-content: space-between;

    gap: 10px;

    &::after {
        content: '';
        flex-basis: 100%;
    }


}

.li {
    flex-basis: 100%;
}

@media (min-width: base.$breakpointMobile) {
    .li,
    .wrapper::after {
        flex-basis: 45%;
    }
}

@media (min-width: base.$breakpointTablet) {
    .li,
    .wrapper::after {
        flex-basis: 32%;
    }
}