@use '../../styles/base';

.wrapper {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: adjust-color($color: base.$primaryColor, $lightness: -30%);

    
}

// responsive mobile first

@media (min-width: 768px) {
    .wrapper {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        font-size: 2.5rem;
    }
}