@use '../../../../../styles/base';


.wrapper {
    border: 1px solid adjust-color($color: #000000, $lightness: 10%);

    padding: .5rem;

    border-radius: 10px;

    margin-bottom: 1rem;

    box-shadow: 0 0 2px 0px #000000;

    p {
        font-size: .9rem;
    }
}



.wrapper.new {
    background-color: adjust-color($color: base.$backgroundColor, $lightness: -10%);

    border: 2px solid adjust-color($color: #000000, $lightness: 10%);

    box-shadow: 0 0 4px 0px #000000;


}




.buttons {
    display: flex;
    justify-content: space-between;

    margin-top: 1rem;

    button {

        flex-basis: 48%;
        padding: .5rem 1rem;

        border: 1px solid #000000;

        border-radius: 5px;

        &:focus {
            outline: none;
        }
    }
}
