@use '../../../../../styles/base';

.wrapper {
    display: flex;
    flex-flow: row wrap;

    gap: 10px;

    

    width: 90%;
    margin: 0 auto;
    padding: 1rem;

    background-color: base.$backgroundColor;

    border-radius: 10px;

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

    animation: fadeIn .3s;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.listProducts {
    background-color: adjust-color($color: base.$backgroundColor, $lightness: -10%);

    border-radius: 10px;

    width: 100%;

    .title {
        display: inline-block;
        font-weight: 900;
        padding-left: .5rem;
        padding-top: .5rem;
        
        margin-bottom: .2rem;
    }

    .body {
        display: flex;
        flex-flow: row wrap;
        gap: 4px;
        padding: .5rem;
    }

    .product {
        background-color: adjust-color($color: base.$backgroundColor, $lightness: -30%);


        border-radius: 10px;
        padding: .2rem;

        display: flex;
        flex-flow: row nowrap;
        gap: 4px;

        align-items: center;
        justify-content: space-between;

        cursor: pointer;

        &:hover {
            box-shadow: 0 0 5px 0 rgb(126, 3, 3);
        }

        .name {
            font-weight: 700;
        }

        button.delete {
            @include base.button("danger");

            border: none;
            border-radius: 50%;
            overflow: hidden;

            display: flex;
            align-items: center;
            justify-content: center;
            padding: .3rem;

            

            &:hover {
                background-color: adjust-color($color: base.$backgroundColor, $lightness: -50%);

                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

            }

        }
    }

    .product.mainProduct {
        border-bottom: 5px solid rgb(35, 63, 120);
    }
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 2px;

    width: 100%;


    button {
        width: 100%;


        border: 1px solid #000;

        border-radius: 5px;

        background-color: rgb(55, 55, 55);

        color: #fff;


        font-weight: 700;

        padding: 2px;
        font-size: 0.85rem;
    }

    button.add {
        @include base.button("primary");

        &:disabled {
            cursor: not-allowed;
            opacity: .5;
            border: none;

            background-color: gray;

            &:hover {
                background-color: gray;
            }
        }
    }

    button.cancel {
        @include base.button("secondary");
    }
}