@use '../../../styles/base';


.h1, .h2, .p {
    flex-basis: 100%;
    text-align: center;
}

.h1 {
    color: adjust-color($color: base.$primaryColor, $lightness: 10%);

    margin-bottom: 1rem;



}


.p {
    color: base.$backgroundColor;
    font-weight: 700;
}
