@use '../../../styles/base';

.wrapper {
    position: relative;

    height: 150px;

    margin-bottom: 30px;

    border-radius: 15px;
    overflow: hidden;

    
}

.image {
    z-index: -1;


}

.body {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

// responsive mobile first
@media (min-width: base.$breakpointMobile) {
    .wrapper {
        height: 250px;
    }

    
}


@media (min-width: base.$breakpointTablet) {
    .wrapper {
        height: 300px;
    }
}




