@use '../../../styles/base';

.wrapper {
    display: none;

    position: relative;

    padding: .3rem 1rem;

    border-radius: 10px;
    overflow: hidden;

    border: 1px solid base.$tertiaryColor;    



}






@media (min-width: base.$breakpointMobile) {
    .wrapper {
        display: flex;
    }

    .ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        list-style: none;
        padding: 0;
        margin: 0;


        
        li {
            
            a {
                display: flex;
                position: relative;

                text-decoration: none;
                
                padding: .5rem .7rem;
                font-size: 1.2rem;
                font-weight: 500;

                color: base.$tertiaryColor;


                transition: all .2s ease-in-out;

                overflow: hidden;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: base.$primaryColor;

                    transition: all .2s ease-in-out;
                }

            }

            &:hover {
                a {
                    color: base.$secondaryColor;
                    &::after {
                        width: 100%;
                    }
                }
            }

            a:focus {
                outline: none;
            }

            a.current {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: base.$primaryColor;
                }
            }
        
        }
    }
}