$backgroundColor: #ebd5d5;
$primaryColor: #f273b9;
$secondaryColor: #ffe656;
$tertiaryColor: #f2ddd6;
$textColor: #433232;


/* 
    Black: #000000
    White: #FFFFFF
    Pink:  or 
    Metallic Silver: 
    Metallic Gold: 
*/

