@use 'base';

.body {
    display: flex;

    flex-flow: row wrap;

    justify-content: space-between;
    align-items: flex-start;

    gap: 40px;

}

.category,
.product {
    flex-basis: 100%;
}

@media (min-width: base.$breakpointMobile) {
    .category,
    .product {
        flex-basis: 45%;
    }
}