@use 'base';

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;

  min-height: 100vh;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: base.$backgroundColor;
  color: base.$textColor;

}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

h1 {
  font-size: 2.7rem;
  
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.35rem;
}

// make font size responsive mobile first

@media (min-width: base.$breakpointMobile) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

}

// make font size responsive mobile first

@media (min-width: base.$breakpointTablet) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

}


