@use '../styles/base';

.wrapper {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;

}

.name, .images, .description, .price, .checkout {
    grid-column: 1/3;
}


.image {
    position: relative;
    height: 350px;

    border-radius: 10px;

    overflow: hidden;
}

.description {
    .title {
        margin-bottom: 1rem;
        padding-bottom: .5rem;
        border-bottom: 1.5px solid adjust-color($color: base.$backgroundColor,  $lightness: -15%);
    }

    .content {
        margin-bottom: 1rem;

        p {
            margin-bottom: 1rem;
        }

        form {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            gap: 2rem;

            margin-bottom: 1rem;

            label {
                font-weight: 900;
            }

            select {
                padding: 7px 15px;
                border-radius: 10px;
                border: 3px solid adjust-color($color: base.$backgroundColor,  $lightness: -15%);
                background-color: base.$backgroundColor;
                color: base.$textColor;
                font-weight: 600;
                cursor: pointer;

                transition: all 0.2s;

                &:hover {
                    background-color: adjust-color($color: base.$backgroundColor, $lightness: -10%);
                }

                &:active {
                    background-color: adjust-color($color: base.$backgroundColor, $lightness: -30%);
                }
            }
        }
    }

    border-bottom: 1.5px solid adjust-color($color: base.$backgroundColor,  $lightness: -15%);
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 600;
}

.checkout {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        background-color: base.$primaryColor;
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;

        transition: all 0.2s;

        &:hover {
            background-color: adjust-color($color: base.$primaryColor, $lightness: -10%);
        }

        &:active {
            background-color: adjust-color($color: base.$primaryColor, $lightness: -30%);
        }
    }
}

@media screen and (min-width: base.$breakpointMobile) {
    .images {
        grid-column: 1/2;
    }

    .description, .price, .checkout {
        grid-column: 2/3;
    }
}