@use 'base';

.body {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;

}

.topPanelMobile {
    display: block;
    width: 100%;
}

.topPanel {
    display: flex;

    width: 100%;

    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    overflow: hidden;
    border: 1px solid adjust-color($color: base.$backgroundColor, $lightness: -30%);
    background-color: adjust-color($color: base.$backgroundColor, $lightness: 5%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);

    margin-bottom: 20px;
}

.main {
    width: 100%;
}

.sideBar {
    display: none;
}




@media (min-width: base.$breakpointMobile) {
    .topPanelMobile {
        display: none;
    }

 
    .body {
        flex-direction: row;
        align-items: flex-start;
    }



    .main {
        flex-basis: 70%;
    }
}